
<div class="container" ng-controller="IndexController">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Our Lipsmacking Culinary Creations</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div class="col-xs-12 bg-warning" ng-if="!showDish" ng-class="{'bg-danger': (msg.indexOf('Err') != -1) }">
        <h3>{{ msg }}</h3>
      </div>
      <div class="media" ng-if="showDish">
        <div class="media-left media-middle">
          <a ui-sref="app.dishdetails({id: feat.id})">
            <img ng-src="{{ feat.image }}" alt="{{ feat.name }}" class="media-object img-thumbnail">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{ feat.name }}
            <span class="label label-danger">{{ feat.label }}</span> <span class="badge">{{ feat.price | currency }}</span></h2>
          <p>{{ feat.description }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
      <h3 align=center>This Month's Promotions</h3>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="col-xs-12 bg-warning" ng-if="!showPromo" ng-class="{'bg-danger': (msg.indexOf('Err') != -1) }">
        <h3>{{ msg }}</h3>
      </div>
      <div class="media" ng-if="showPromo">
        <div class="media-body">
          <h2 class="media-heading">{{ promo.name }}
            <span class="label label-danger">{{ promo.label }}</span> <span class="badge">{{ promo.price | currency }}</span></h2>
          <p>{{ promo.description }}</p>
        </div>
        <div class="media-right media-middle">
          <a href="#/">
            <img ng-src="{{ promo.image }}" alt="{{ promo.name }}" class="media-object img-thumbnail">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Meet our Culinary Specialists</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div class="col-xs-12 bg-warning" ng-if="!showLead" ng-class="{'bg-danger': (msg.indexOf('Err') != -1) }">
        <h3>{{ msg }}</h3>
      </div>
      <div class="media" ng-if="showLead">
        <div class="media-left media-middle">
          <a href="#/">
            <img ng-src="{{ lead.image }}" alt="{{ lead.name }}" class="media-object img-thumbnail">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{ lead.name }} <small>{{ lead.designation }}</small></h2>
          <p>{{ lead.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
